/* ALTERAR PARA TODOS OS ELEMENTOS */
html * {
    /* RESETAR A MARGEM */
    margin: 0px;
    /* LARGURA MÁXIMA DOS ELEMENTOS */
    max-width: 100%;
}

body {
    /* COR DE FUNDO */
    background-color: #111111;
}

#logotipo {
    /* LARGURA DO LOGOTIPO */
    width: 300px;
    /* MARGEM DO LOGOTIPO */
    margin: 20px;
}

#menu {
    /* COR DE FUNDO */
    background-color: #747474;
    /* BORDA DO MENU SUPERIOR E INFERIOR */
    border-top: 10px solid #D9D9D9   
    border-bottom: 10px solid #D9D9D9;

    /* ESPAÇAMENTO DO CONTEÚDO DO MENU */
    padding: 10px;
    /* MARGEM INFERIOR */
    margin-bottom: 20px;
    /* ATIVAR O MODO GRID (LINHAS E COLUNAS) */
    display: grid;
    /* ELEMENTOS DENTRO DA CLASSE PRINCIPAL NO FORMATO DE 4 COLUNAS */
    grid-template-columns: repeat(3, 1fr);
    /* ESPAÇAMENTO ENTRE COLUNAS E LINHAS DO GRID */
    gap: 10px;
    /* ALINHAR OS ELEMENTOS NO CENTRO */
    text-align: center;
}

#menu a{
    /* COR DOS LINKS */
    color: white;
    /* LETRAS MAIÚSCULAS */
    text-transform: uppercase;
    /* REMOVER SUBLINHADO */
    text-decoration: none;
    /* ESPAÇAMENTO ENTRE OS LINKS  */
    padding: 10px;
    /* FONTE */
    font-family: sans-serif;
}

#menu a:hover{
    background-color: #0C0C0D;
    color: #747474;
}

#titulo{
    color:white;
    padding: 50px;
    padding-left: 150px;
    text-transform: uppercase;
    font-family: sans-serif;
    
}
main{
    color: whitesmoke;
    background-color: #111111;

    
}
    
    
.poesia {
    justify-content: center;
    padding: 30px;
    padding-left: 150px;
    margin-left: 50px;
    line-height: 1.4;
    font-family: sans-serif;

}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    background-color: #111111;
    color: whitesmoke;
    padding: 20 px;
    padding-bottom: 100px;
    margin: 90px 60px;
    line-height: 1.4;

}

.fotos {
    height: 300px;
    width: 300px;
    object-fit: cover;
}


/* CAIXA DO CARD COM IMAGEM E H2 */
.item {
    /* COR DE FUNDO */
    background-color:#111111;
    /* ALINHAR NO CENTRO */
    text-align: center; 
    /* LETRAS MAIÚSCULAS */
    text-transform: uppercase;
    /* FONTE */
    font-family: sans-serif;
    /* CONTORNO PARA BORDA */
    border-radius: 25%;
    padding-bottom: 40px;
    border: 110px 30px;
}

.poesiadequebras{
    padding: 30px;
    line-height: 1.4;
    font-family: sans-serif;
}

.vinheta{
    padding:20px;
    justify-content: center;
}


.racionais{
    font style='font-style:italic;
    padding:20px;

}


.rodape {
    /* COR DE FUNDO */
    background-color: #747474;
    /* ALTURA */
    height: 100px;
    /* COR  */
    color: white;
    /* FONTE */
    font-family: sans-serif;
    /* ATIVAR O MODO GRID (LINHAS E COLUNAS) */
    display: grid;
    grid-template-columns: 70% 30%;
    /* JUSTIFICAR NA HORIZONTAL */    
    justify-content: center;
    /* JUSTIFICAR NA VERTICAL */ 
    align-items: center;
    font-family: sans-serif;
    padding: 20px;
}