/* ALTERAR PARA TODOS OS ELEMENTOS */
html * {
    /* RESETAR A MARGEM */
    margin: 0px;
    /* LARGURA MÁXIMA DOS ELEMENTOS */
    max-width: 100%;
}

body {
    /* COR DE FUNDO */
    background-color: #111111;
}

#logotipo {
    /* LARGURA DO LOGOTIPO */
    width: 300px;
    /* MARGEM DO LOGOTIPO */
    margin: 20px;
}

#menu {
    /* COR DE FUNDO */
    background-color: #747474;
    /* BORDA DO MENU SUPERIOR E INFERIOR */
    border-top: 10px solid #D9D9D9   
    border-bottom: 10px solid #D9D9D9;

    /* ESPAÇAMENTO DO CONTEÚDO DO MENU */
    padding: 10px;
    /* MARGEM INFERIOR */
    margin-bottom: 20px;
    /* ATIVAR O MODO GRID (LINHAS E COLUNAS) */
    display: grid;
    /* ELEMENTOS DENTRO DA CLASSE PRINCIPAL NO FORMATO DE 4 COLUNAS */
    grid-template-columns: repeat(4, 1fr);
    /* ESPAÇAMENTO ENTRE COLUNAS E LINHAS DO GRID */
    gap: 10px;
    /* ALINHAR OS ELEMENTOS NO CENTRO */
    text-align: center;
}

#menu a{
    /* COR DOS LINKS */
    color: white;
    /* LETRAS MAIÚSCULAS */
    text-transform: uppercase;
    /* REMOVER SUBLINHADO */
    text-decoration: none;
    /* ESPAÇAMENTO ENTRE OS LINKS  */
    padding: 10px;
    /* FONTE */
    font-family: sans-serif;
}

.principal {
    
    /* ATIVAR O MODO GRID (LINHAS E COLUNAS) */
    display: grid;
    /* ELEMENTOS DENTRO DA CLASSE PRINCIPAL NO FORMATO DE 3 COLUNAS */ 
    grid-template-columns: repeat(3, 1fr);
    /* ESPAÇAMENTO ENTRE COLUNAS E LINHAS DO GRID */
    gap: 10px;
    /* MARGEM DOS CARDS */
    margin: 20px 60px;
}

/* CAIXA DO CARD COM IMAGEM E H2 */
.item {
    /* COR DE FUNDO */
    background-color: #CFA76E;
    /* ALINHAR NO CENTRO */
    text-align: center; 
    /* LETRAS MAIÚSCULAS */
    text-transform: uppercase;
    /* FONTE */
    font-family: sans-serif;
    /* BORDA SUPERIOR */
    border-top: 5px solid #593806;
    /* CONTORNO PARA BORDA */
    border-radius: 1%;
}

.rodape {
    /* COR DE FUNDO */
    background-color: #747474;
    /* ALTURA */
    height: 100px;
    /* COR  */
    color: white;
    /* FONTE */
    font-family: sans-serif;
    /* ATIVAR O MODO GRID (LINHAS E COLUNAS) */
    display: flex;
    /* JUSTIFICAR NA HORIZONTAL */    
    justify-content: center;
    /* JUSTIFICAR NA VERTICAL */ 
    align-items: center;
}